<!doctype html>
<html lang="en">
  <head>

    <title>Belion is the Guillaume Lestrade investment fund</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <meta name="description" content="Guillaume Lestrade invest from seed to Series A, &amp; mostly with other investors, any stage, deal size, sector &amp; geography" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2519708.js"></script>
  </head>
  <body>
    <div style="width:100%;height:100%;position:relative;">
      <div class="column"><div class="vertcenter-outer"></div><div class="vertcenter-inner" style="width:80%;">
        <div style="margin-bottom:5em;">
          <h1 class="company caselogo">BELION</h1>
        </div>
          <h1>Get smart money, advices, network and unfair advantages</h1>
          <h2>Already <span style="text-decoration: underline;">5 startups</span> backed :-)</h2>
          <h1>Portfolio KPI's :</h1>
          <h1>Total raised : 26 M € / Total employees : 90</h1>

          <h2><a style="text-decoration: none;" href="https://belion.typeform.com/to/sozkId" target="_blank">Apply</a></h2>
        </div>
      </div>
      <div class="column"><div class="vertcenter-outer"></div><div class="vertcenter-inner logo-anim-box" style="text-align:center;">
        <a class="logo-box" href="https://www.meero.io" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner"><img src="images/meero.jpg" style="width:100%;"/></div></a>
        <a class="logo-box" href="https://www.hiboo.io" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner"><img src="images/hiboo.png" style="width:100%;"/></div></a>
        <a class="logo-box" href="http://sourced.tech" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner"><img src="images/supra.png" style="width:100%;"/></div></a>
        <a class="logo-box" href="https://www.solen.co/" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner"><img src="images/solen.png" style="width:100%;"/></div></a>
        <a class="logo-box" href="https://www.georges.tech" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner"><img src="images/georges.png" style="width: 120px; height: 120px"/></div></a>

        <a class="logo-box" href="https://belion.typeform.com/to/sozkId" target="_blank"><div class="vertcenter-outer"></div><div class="vertcenter-inner" style="font-size: 22px;">YOUR STARTUP ?</div></a>
      </div>
    </div>
    </div>
  </body>
</html>
